
<!-- 
실제로 작업할 곳 (약 90%) 
레이아웃의 바디 부분에 들어간다.
개발 순서가 중요하다.
html 작성 후 css 작성
-->

<!--
페이스북 포스트 상세 명세 작성(명확한 스펙 작성 필요)

작성자
    작성자 프로필 사진
    작성자 이름(링크)
    작성한 곳

작성한 내용

이미지(선택)(링크)

소셜영역
    좋아요
    댓글달기
-->

<!-- wrapper | 반복 감싸는 부분 -->
<!-- 독립적인 콘텐츠에 artcile 사용 | 다른 사이트에서 봐도 가능 | 콘텐츠가 플랫폼에 종속되지 않는다 -->

<!-- Article -->
<article>
    <!-- 작성작 영역 | class로 div이름 짓기 -->
    <div class="author-area">
        <!--
            그룹핑 연습하자.
            [이미지] [작성자명]
                     [부가설명]
        -->
        <div class="thumb">
            <img src="https://unsplash.it/100/?random" alt="">
        </div>
        
        <div class="info">
            <div class="name">
                <a href="#">이민영</a>
            </div>

            <div class="desc">
                <a href='#'>14분</a>
            </div>
        </div>

    </div>
    
    <!-- 본문 영역 -->
    <div class="text-area">
        <p>본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트</p>
    </div>

    <!-- 미디어 영역 | 2장 이상 이미지 삽입 경우 고려-->
    <div class="media-area">
        <a href="#">
            <img src="https://unsplash.it/400/?random" alt="">
        </a>
    </div>

    <!-- 소셜 플러그인 영역 -->
    <div class="social-area">
        <button type="button">좋아요</button>
        <button type="button">댓글 달기</button>
        <button type="button">공유하기</button>
    </div>

</article>

<!-- Article -->
<article>
    <!-- 작성작 영역 | class로 div이름 짓기 -->
    <div class="author-area">
        <!--
            그룹핑 연습하자.
            [이미지] [작성자명]
                     [부가설명]
        -->
        <div class="thumb">
            <img src="https://unsplash.it/100/?random" alt="">
        </div>
        
        <div class="info">
            <div class="name">
                <a href="#">이민영</a>
            </div>

            <div class="desc">
                <a href='#'>14분</a>
            </div>
        </div>

    </div>
    
    <!-- 본문 영역 -->
    <div class="text-area">
        <p>본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트</p>
    </div>

    <!-- 미디어 영역 | 2장 이상 이미지 삽입 경우 고려-->
    <div class="media-area">
        <a href="#">
            <img src="https://unsplash.it/400/?random" alt="">
        </a>
    </div>

    <!-- 소셜 플러그인 영역 -->
    <div class="social-area">
        <button type="button">좋아요</button>
        <button type="button">댓글 달기</button>
        <button type="button">공유하기</button>
    </div>

</article>

<!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
-->