<header>
    <h1>you tube<h1>
    <div class="search">
    <form>
            <input type="text"><button type="submit">se</button>
    </form>
    </div>

    <div class="personal"></div>
</header>


<div class="navigation"></div>
    <nav class="navigation">
        <ul>
            <li>hi</li>
            <li>hi</li>
            <li>hi</li>
            <li>hi</li>
            <li>hi</li>
        </ul>
    </nav>

    <div class="nav-sectoin">
        hihi
    </div>

    <div class="main section">
    </div>

<div class="main-content">

<section class="channel-info-section">
        <header>
                <div class="cover"></div>
                <div class="info"></div>
                    <h1>hihi</h1>
                    <div class="subscribte">
                        <button type="button" class="btn-sub">sub</button>
                    </div>
        </header>
        <div class="channel-contents">
            <div class="contents">
                <section>
                        <h2>hihihihi</h2>
                        
                        
                        <ul>
                            <li>
                                    <div class="thumb">
                                        bb
                                    </div>
                                    <dl>
                                            <dt>hihihihihihihihihihih</dt>
                                            <dd>dfdfsdfs</dd>
                                            <span class="count">1232 views</span>
                                            <time datetime="2017-05-21">2 weeks age</time>
                                    </dl>
                            </li>
                        </ul>


                </section>
            </div>
        </div>
</section>