
    <article>

        <div class="head">
        <img src="https://unsplash.it/80">
        
            <div class="info">
                <div class="writer">
                <a href="#">이민영</a>
                </div>

                <div class="time">
                <a href="#">15 분</a>
                </div>
            </div>
            
        </div>

        <div class="text">
        본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트
        </div>

        <div class="media">
        <img src="https://unsplash.it/800">
        </div>

        <div class="social">
            <button type="button">좋아요</button> 
            <button type="button">댓글달기</button>
        </div>

    </article>


    <article>

        <div class="head">
        <img src="https://unsplash.it/80">
        
            <div class="info">
                <div class="writer">
                <a href="#">이민영</a>
                </div>

                <div class="time">
                <a href="#">15 분</a>
                </div>
            </div>
            
        </div>

        <div class="text">
        본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트 본문 텍스트
        </div>

        <div class="media">
        <img src="https://unsplash.it/800">
        </div>

        <div class="social">
            <button type="button">좋아요</button> 
            <button type="button">댓글달기</button>
        </div>

    </article>
