<div>

    <div class="header">
        <span class="logo">
        <img src="https://unsplash.it/100/30">
        </span>

        <span class"finder">
        <input text="dd"></input> <button>검색버튼</button>
        </span>

        <span class="login">
        <button>로그인 버튼</button>
        </span>
    </div>

   <div class="navi-left">
        <div class="menu-list"> 
            <ul>
            <li><img src="https://unsplash.it/15/15"><a href="#">홈</a></li>
            <li><img src="https://unsplash.it/15/15"><a href="#">인기</a></li>
            <li><img src="https://unsplash.it/15/15"><a href="#">최근 본 동영상</a></li>
            <li><img src="https://unsplash.it/15/15"><a href="#">유투브 레드 가입</a></li>
            </ul>

            인기 유투브
            <ul>
            <li><img src="https://unsplash.it/15/15">음악</li>
            <li><img src="https://unsplash.it/15/15">스포츠</li>
            <li><img src="https://unsplash.it/15/15">게임</li>
            <li><img src="https://unsplash.it/15/15">영화</li>
            <li><img src="https://unsplash.it/15/15">TV프로그램</li>
            <li><img src="https://unsplash.it/15/15">뉴스</li>
            <li><img src="https://unsplash.it/15/15">실시간</li>
            <li><img src="https://unsplash.it/15/15">360동영상</li>
            </ul>
        </div>
    </div>

    <div class="body-right">
        본문 영역
    </div>

</div>