<div class="contents-header">
    <div class="contents-header-btn"><button type="button"></button></div>
    <div class="contents-header-btn"><button type="button"></button></div>
</div>

<div class="contents-slider">
    <img src="https://unsplash.it/800/150" alt="">

    <div class="contents-body">
    <h1>강력추천 최신영화</h1>
    <h2>놓칠 수 없는 오늘의 영화</h2>
    </div>

</div>

