<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="initial-sacle=1, width=device-width">
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  
  <!-- 구글 플레이 과제 -->

  <!-- header -->
  <header>
    <div class="global-nav-bar">
      <div class="logo-area">
        <img src="https://unsplash.it/183/39" alt="">
      </div>
      <div class="search-area">
        <input class="search-input-text" type="text" placeholder="검색"></input>
        <button type="button">버튼</button> 
      </div>
      <div class="btn-area">
        <button type="button">햄버거 버튼</button>
        <a href="#">로그인 버튼</a>
      </div>
    </div>
  </header>

  <!-- global wrapper -->
  <sectoin class="global-body-wrapper">
    
    <!--side menu -->
    <aside class="global-side-menu">

      <div class="side-btn-wrapper">
        <div class="side-btn-left">
          <img src="https://unsplash.it/24/24" alt="">
        </div>
        <div class="side-btn-right">
          <a href="">엔터테인먼트</a>
        </div>
      </div>

      <div class="side-btn-wrapper">
        <div class="side-btn-left">
          <img src="https://unsplash.it/24/24" alt="">
        </div>
        <div class="side-btn-right">
          <a href="">엔터테인먼트</a>
        </div>
      </div>

      <div class="side-btn-wrapper">
        <div class="side-btn-left">
          <img src="https://unsplash.it/24/24" alt="">
        </div>
        <div class="side-btn-right">
          <a href="">엔터테인먼트</a>
        </div>
      </div>

      <div class="side-btn-wrapper">
        <div class="side-btn-left">
          <img src="https://unsplash.it/24/24" alt="">
        </div>
        <div class="side-btn-right">
          <a href="">엔터테인먼트</a>
        </div>
      </div>

      <div class="side-btn-wrapper">
        <div class="side-btn-left">
          <img src="https://unsplash.it/24/24" alt="">
        </div>
        <div class="side-btn-right">
          <a href="">엔터테인먼트</a>
        </div>
      </div>

      <div class="side-btn-wrapper">
        <div class="side-btn-left">
          <img src="https://unsplash.it/24/24" alt="">
        </div>
        <div class="side-btn-right">
          <a href="">엔터테인먼트</a>
        </div>
      </div>

      <div class="side-text-menu-wrapper">
        <div class="side-text-menu"><a href="">계정</a></div>
        <div class="side-text-menu"><a href="">기프트 카드 사용</a></div>
        <div class="side-text-menu"><a href="">기프트 카드 구매</a></div>
        <div class="side-text-menu"><a href="">내 위시리스트</a></div>
        <div class="side-text-menu"><a href="">내 게임 활동</a></div>
        <div class="side-text-menu"><a href="">자녀 보호 안내</a></div>
      </div>

    </aside>

    <!-- main contents -->
    <section class="main-contents-wrapper">
    {{{body}}}
    </section>

  </sectoin>

  <!-- footer -->
  <footer>
  </footer>

  </body>


</html>
