<div class="channel-info-section">
    
    <!-- 상단 헤더 -->
    <header>
        <div class="cover">
            <img src="https://unsplash.it/899/170"  alt="">
        </div>
        <div class="info">
            <h1>홈</h1>
            <div class="subscribte-area">
                <button class="btn-sub">구독</button>
                <button class="btn-count"><span>31,234</span></button>
            </div>
        </div>

        <nav class="nav-channels">
            <ul>
                <li><a href="#">홈</a></li>
                <li><a href="#">동영상</a></li>
                <li><a href="#">재생목록</a></li>
                <li><a href="#">채널</a></li>
                <li><a href="#">정보</a></li>
            </ul>
        </nav>
    </header>

    <!-- 메인 콘텐츠 섹션 -->
    <section class="main-section-contents">
        <div class="channel-contents">
            <div class="contents">
                
                <section>

                    <!-- 1번째 라인 -->
                    <h2>인기 트랙 - 한국</h2>
                    <ul class="video-list">
                    

                        <!-- 메인 콘텐츠 블럭 1 -->
                        <li class="video-main-1">
                            <div class="thumb">
                                <a href="#"><img src="https://unsplash.it/200/100"  alt=""></a>
                            </div>
                            <div class="video-info">
                                <dl>
                                    <dt><a href="#">콘텐츠 타이틀 이름</a></dt>
                                    <dt><a href="#">업로더 이름</a></dt>
                                    <dt>
                                        <a href="#">조회수</a>
                                        <span class="count">999,999회</span>
                                        <time datetime="2017-06-09">3주 전</time>
                                    </dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </li>
                        
                        <!-- 메인 콘텐츠 블럭 2 -->
                        <li class="video-main-2">
                            <div class="thumb">
                                <a href="#"><img src="https://unsplash.it/200/100"  alt=""></a>
                            </div>
                            <div class="video-info">
                                <dl>
                                    <dt><a href="#">콘텐츠 타이틀 이름</a></dt>
                                    <dt><a href="#">업로더 이름</a></dt>
                                    <dt>
                                        <a href="#">조회수</a>
                                        <span class="count">999,999회</span>
                                        <time datetime="2017-06-09">3주 전</time>
                                    </dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </li>

                         <!-- 메인 콘텐츠 블럭 3 -->
                        <li class="video-main-3">
                            <div class="thumb">
                                <a href="#"><img src="https://unsplash.it/200/100"  alt=""></a>
                            </div>
                            <div class="video-info">
                                <dl>
                                    <dt><a href="#">콘텐츠 타이틀 이름</a></dt>
                                    <dt><a href="#">업로더 이름</a></dt>
                                    <dt>
                                        <a href="#">조회수</a>
                                        <span class="count">999,999회</span>
                                        <time datetime="2017-06-09">3주 전</time>
                                    </dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </li>

                        <!-- 메인 콘텐츠 블럭 4-->
                        <li class="video-main-4">
                            <div class="thumb">
                                <a href="#"><img src="https://unsplash.it/200/100"  alt=""></a>
                            </div>
                            <div class="video-info">
                                <dl>
                                    <dt><a href="#">콘텐츠 타이틀 이름</a></dt>
                                    <dt><a href="#">업로더 이름</a></dt>
                                    <dt>
                                        <a href="#">조회수</a>
                                        <span class="count">999,999회</span>
                                        <time datetime="2017-06-09">3주 전</time>
                                    </dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </li>

                        <!-- 메인 콘텐츠 블럭 5-->
                        <li class="video-main-5">
                            <div class="thumb">
                                <a href="#"><img src="https://unsplash.it/200/100" alt=""></a>
                            </div>
                            <div class="video-info">
                                <dl>
                                    <dt><a href="#">콘텐츠 타이틀 이름</a></dt>
                                    <dt><a href="#">업로더 이름</a></dt>
                                    <dt>
                                        <a href="#">조회수</a>
                                        <span class="count">999,999회</span>
                                        <time datetime="2017-06-09">3주 전</time>
                                    </dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </li>
                    </ul>

                    <!-- 2번째 라인 -->
                    <h2>최신 뮤직 비디오</h2>
                    <ul class="video-list">

                        <!-- 메인 콘텐츠 블럭 1 -->
                        <li class="video-main-1">
                            <div class="thumb">
                                <a href="#"><img src="https://unsplash.it/200/100" alt=""></a>
                            </div>
                            <div class="video-info">
                                <dl>
                                    <dt><a href="#">콘텐츠 타이틀 이름</a></dt>
                                    <dt><a href="#">업로더 이름</a></dt>
                                    <dt>
                                        <a href="#">조회수</a>
                                        <span class="count">999,999회</span>
                                        <time datetime="2017-06-09">3주 전</time>
                                    </dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </li>
                        
                        <!-- 메인 콘텐츠 블럭 2 -->
                        <li class="video-main-2">
                            <div class="thumb">
                                <a href="#"><img src="https://unsplash.it/200/100" alt=""></a>
                            </div>
                            <div class="video-info">
                                <dl>
                                    <dt><a href="#">콘텐츠 타이틀 이름</a></dt>
                                    <dt><a href="#">업로더 이름</a></dt>
                                    <dt>
                                        <a href="#">조회수</a>
                                        <span class="count">999,999회</span>
                                        <time datetime="2017-06-09">3주 전</time>
                                    </dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </li>

                         <!-- 메인 콘텐츠 블럭 3 -->
                        <li class="video-main-3">
                            <div class="thumb">
                                <a href="#"><img src="https://unsplash.it/200/100" alt=""></a>
                            </div>
                            <div class="video-info">
                                <dl>
                                    <dt><a href="#">콘텐츠 타이틀 이름</a></dt>
                                    <dt><a href="#">업로더 이름</a></dt>
                                    <dt>
                                        <a href="#">조회수</a>
                                        <span class="count">999,999회</span>
                                        <time datetime="2017-06-09">3주 전</time>
                                    </dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </li>

                        <!-- 메인 콘텐츠 블럭 4-->
                        <li class="video-main-4">
                            <div class="thumb">
                                <a href="#"><img src="https://unsplash.it/200/100" alt=""></a>
                            </div>
                            <div class="video-info">
                                <dl>
                                    <dt><a href="#">콘텐츠 타이틀 이름</a></dt>
                                    <dt><a href="#">업로더 이름</a></dt>
                                    <dt>
                                        <a href="#">조회수</a>
                                        <span class="count">999,999회</span>
                                        <time datetime="2017-06-09">3주 전</time>
                                    </dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </li>

                        <!-- 메인 콘텐츠 블럭 5-->
                        <li class="video-main-5">
                            <div class="thumb">
                                <a href="#"><img src="https://unsplash.it/200/100" alt=""></a>
                            </div>
                            <div class="video-info">
                                <dl>
                                    <dt><a href="#">콘텐츠 타이틀 이름</a></dt>
                                    <dt><a href="#">업로더 이름</a></dt>
                                    <dt>
                                        <a href="#">조회수</a>
                                        <span class="count">999,999회</span>
                                        <time datetime="2017-06-09">3주 전</time>
                                    </dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </li>
                    </ul>

                </section>

            </div>
        </div>
    </section>

    <footer>
    <div class="footer">
        <nav class="nav-footer">
            <ul class="footer-info-btn">
                <li><button class="btn-sub">유투브</button></li>
                <li><button class="btn-sub">언어: 한국어</button></li>
                <li><button class="btn-sub">콘텐츠 위치: 한국</button></li>
                <li><button class="btn-sub">제한 모드: 사용 안함</button></li>
                <li><button class="btn-sub">최근 본 동영상</button></li>
                <li><button class="btn-sub">도움말</button></li>
            </ul>
            <ul class="footer-info-1">
                <li><a href="#">정보</a></li>
                <li><a href="#">프레스</a></li>
                <li><a href="#">저작권</a></li>
                <li><a href="#">크리에이터</a></li>
                <li><a href="#">광고</a></li>
                <li><a href="#">개발자</a></li>
                <li><a href="#">+YouTube</a></li>
            </ul>
            <ul class="footer-info-2">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보 보호</a></li>
                <li><a href="#">정책 및 안전</a></li>
                <li><a href="#">의견 보내기</a></li>
                <li><a href="#">새로운 기능</a></li>
                <li><a href="#">개발자</a></li>
                <li><a href="#">+테스트하기</a></li>
            </ul>
        </nav>
    </div>
    </footer>

    
</div>