<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="initial-sacle=1, width=device-width">
    <meta charset="UTF-8">
  </head>
  <body>

  <!-- Header Area -->
  <header>
    <div class="gnb">
      <h1><a href="#"><img src="https://unsplash.it/120/30" alt=""></a></h1>
    
      <div class="search-area">
        <form>
          <input type="text">
          <button type="submit">검색</button>
        </form>
      </div>

      <div class="personal-area">
        <button type="button" class="btn-header-upload">업로드</button>
        <button type="button" class="btn-header-login">로그인</button>
      </div>
      
    </div>
  </header>

  <!-- Aside Area -->
  <aside>
    <div class="aside-nav">
      
      <nav class="nav-section">
        <ul>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">홈</a></li>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">인기</a></li>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">최근 본 동영상</a></li>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">YouTube Red 가입</a></li>
        </ul>
      </nav>

      <nav class="nav-section">
        <h2>인기 YOUTUBE</h2>
        <ul>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">음악</a></li>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">스포츠</a></li>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">게임</a></li>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">영화</a></li>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">TV프로그램</a></li>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">뉴스</a></li>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">실시간</a></li>
          <li><a href="#"><img src="https://unsplash.it/15/15" alt="">360º동영상</a></li>
        </ul>
      </nav>

     <nav class="nav-section">
      <a href="#"><img src="https://unsplash.it/15/15" alt="">채널탐색</a>
     </nav>

     <nav class="nav-section">
      <a href="#">지금 로그인하여 채널과 추천 동영상을 확인하세요!</a> 
     </nav>

     <nav class="nav-section">
      <button type="button" class="btn-aside-login">로그인</button>
     </nav>

    </div>
  </aside>
 
  <!-- Section Main Contents Area -->
  <section class="main-content">
    {{{body}}}
  </section>

  <!-- footer Area -->
  <footer>

  </footer>
    
</body>
</html>
