<h1>Welcome to BBC News</h1>

<div class="wrapper">

    <div class="panel panel-wide">
      <a href="#">
        <img src="https://unsplash.it/400/300/" alt="">
      </a>
    </div>
    <div class="panel">
      <a href="#">
        <img src="https://unsplash.it/200/150" alt="">
      </a>
    </div>
    <div class="panel">
      <a href="#">
        <img src="https://unsplash.it/200/150" alt="">
      </a>
    </div>
    <div class="panel">
      <a href="#">
        <img src="https://unsplash.it/200/150" alt="">
      </a>
    </div>
    <div class="panel">
      <a href="#">
        <img src="https://unsplash.it/200/150" alt="">
      </a>
    </div>
  </div>

<h1>| NEWS</h1>
<div class="wrapper-contents">
    <div class="panel">
        <a href="#">
        <img src="https://unsplash.it/200/150" alt="">
        </a>
        <dl>
            <dt>Queen to receive £6m public pay increase</dt>
            <dd>It comes as the Crown Estate</dd>
            <dd>Click to see</dd>
        </dl>
    </div>

    <div class="panel">
        <a href="#">
        <img src="https://unsplash.it/200/150" alt="">
        </a>
        <dl>
            <dt>Queen to receive £6m public pay increase</dt>
            <dd>It comes as the Crown Estate</dd>
        </dl>
    </div>

        <div class="panel">
        <a href="#">
        <img src="https://unsplash.it/200/150" alt="">
        </a>
        <dl>
            <dt>Queen to receive £6m public pay increase</dt>
            <dd>It comes as the Crown Estate</dd>
        </dl>
    </div>

        <div class="panel">
        <a href="#">
        <img src="https://unsplash.it/200/150" alt="">
        </a>
        <dl>
            <dt>Queen to receive £6m public pay increase</dt>
            <dd>It comes as the Crown Estate</dd>
        </dl>
    </div>

        <div class="panel">
        <a href="#">
        <img src="https://unsplash.it/200/150" alt="">
        </a>
        <dl>
            <dt>Queen to receive £6m public pay increase</dt>
            <dd>It comes as the Crown Estate</dd>
        </dl>
    </div>
</div>
